{
  "consumer_key": "...",
  "consumer_secret": "...",
  "anon_access_token": "...",
  "anon_access_token_secret": "...",
  "cookie_secret": "...",
  "callback_url": "http://localhost:3000/twitter/callback"
}
