html, body {
  height: 100%;
}

/* Thanks, bootstrap. */
#map img {
  max-width: none;
}

#map {
  position: absolute;
  right: 300px;
  left: 0;
  top: 0;
  bottom: 100px;
}

#scrubber {
  position: absolute;
  right: 300px;
  left: 0;
  bottom: 0;
  height: 100px;
}

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  right: 0;
  width: 300px;
}

#sidebar h2 {
  margin: 0 10px;
}

#sidebar .cluster {
  position: relative;
  width: 5px;
}

#sidebar .cluster:hover:after {
  background-color: #eee;
  content: ' ';
  height: 100%;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: -1;
}

#sidebar .tweet {
  width: 275px;
  padding-left: 15px;
  padding-right: 10px;
}

#sidebar .tweet h4.handle {
  margin: 0;
  display: inline;
  font-size: 12px;
  font-weight: bold;
}
#sidebar .tweet h5.name {
  margin: 0;
  display: inline;
  font-size: 12px;
  font-weight: normal;
}

#sidebar .tweet p {
  font-size: 10px;
  margin: 0;
}

#sidebar .word-cloud {
  width: 275px;
  padding-left: 15px;
  padding-right: 10px;
}

#sidebar .word-cloud span {
  display: inline-block;
  margin-left: 3px;
}

#events .event {
  background-color: #eee;
  min-height: 200px;
  border-radius: 4px;
  cursor: pointer;
}
#events .inner {
  padding: 10px;
  text-align: center;
}

#scrubber path.data {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
